* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: rgb(20, 20, 20);
}

.thumb-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}

.thumbnail {
    list-style: none;
    width: 30em;
    height: 30em;
    padding: 1.2em;
    position: relative;
}

.thumbnail:hover .thumb-hover {
    visibility: visible;
}

.thumbnail:hover .thumb-image {
    opacity: .5;
}

.thumb-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb-hover-caption {
    font-size: 2rem;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    height: 20em;
    background-color: rgb(20, 20, 20);
    padding: 0;
}

.header-content {
    width: 100em;
    height: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    color: white;
    font-size: 2em;
    width: 100%;
    height: 100%;
}

.profile-image-box {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.profile-image {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border: solid;
    border-color: steelblue;
    border-radius: 100%;
}

.profile-text {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
}

.profile-data {
    margin: 0;
}

.post-button {
    height: 2em;
    width: 5em;
    cursor: pointer;
}

.tagged-button {
    height: 2em;
    width: 5em;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

.main-content {
    display: flex;
    justify-content: center;
    width: 100em;
    margin: 5em;
}

.thumbnail-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}



.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50%;
    width: 70%;
    pointer-events: none;
}

.modal-image {
    height: 100%;
    max-width: 90%;
    pointer-events: auto;
}

.modal-text-box {
    background-color: white;
    height: 100%;
    width: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column; 
    pointer-events: auto;
    flex: 0 1 auto;
}

.modal-title {
    color: black;
    font-size: 2em;
    overflow-wrap: break-word;
}

.modal-comments {
    color: steelblue;
    font-size: 1em;
    overflow-wrap: break-word;
}

.arrow-left {
    margin-right: auto;
    font-size: 8rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

.arrow-right {
    margin-left: auto;
    font-size: 8rem;
    padding: 1rem;
    color: white;
    cursor: pointer;
    pointer-events: auto;
}

/* .close-button {
    position: absolute;
    top: 0;
    left: 7rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
} */

.show-modal {
    opacity: 1;
    visibility: visible;
    /* transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; */
}

.hide-list {
    visibility: hidden;
}







